apiVersion: v1
kind: Namespace
metadata:
  name: cattle-system

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: rancher
  namespace: kube-system
spec:
  repo: https://releases.rancher.com/server-charts/latest
  chart: rancher
  targetNamespace: cattle-system
  version: '{{ k3s_rancher_version }}'
  set:
    hostname: "{{ k3s_rancher_hostname }}"
    ingress.tls.source: "letsEncrypt"
    letsEncrypt.email: "{{ k3s_rancher_letsencrypt_email }}"
    replicas: 1
